{% extends "!layout.html" %}

{%- block scripts %}

{{ super() }}

<!-- ADD GOOGLE TRADUCTION SCRIPTS -->
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_lang_selector');
  }
  </script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

{% endblock %}

{%- block sidebartitle %}

    {{ super() }}

    <span id="google_lang_selector"></span>

{% endblock %}