.wy-nav-content {
    max-width: 100% !important;
}

.logo {
    max-height: 200px !important;
}

section > h1 {
    color: #005191;
}

p {
    font-size: 16px;
}

.wy-menu-vertical a {
    color: white;
}

.wy-menu-vertical .caption-text {
    font-weight: bold;
}

#google_lang_selector img {
    all: unset !important;
}

div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(4) {
    display: none;
}